.tag-cloud-container{
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 4px;
  .tag{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid lightseagreen;
    border-radius: 4px;
    margin: 10px;
    color: lightseagreen;
    cursor: pointer;
    position: absolute;
    a{
      color: inherit;
      text-decoration-line: none;
    }
  }
  .tag:hover{
    background-color: rgba(32, 178, 170, 0.5);
    color: #373333;
  }
}

@keyframes tagAnimation {

}